<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Comment by ID</title>
  </head>
  <body>
    <h1>Comment ID: <%= comment.id %></h1>
    <h2>Comment Text: <%= comment.comment %> BY : <%= comment.username %></h2>

    <a href="/comments">Back to comments</a>
    <a href="/comments/<%= comment.id %>/edit">Edit Comment</a>
  </body>
</html>
